<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>budget</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-button expand="block" (click)="showAddItemDialog()">Ajouter un élément</ion-button>

  <ion-list>
    <ion-item *ngFor="let budgetItem of budgetList">
      <ion-label>
        {{ budgetItem.label }}
      </ion-label>

      <ion-badge slot="end" [color]="budgetItem.amount >= 0? 'success': 'danger'">{{ budgetItem.amount }} €</ion-badge>

      <ion-icon name="trash" slot="end" (click)="showDeleteDialog(budgetItem.id)"></ion-icon>
      <ion-icon name="create" slot="end" (click)="showEditItemDialog(budgetItem)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>