<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="map"></div>
  <!--  
    <ion-list *ngIf="coords">
    <ion-item>
      <ion-label position="stacked">Latitude</ion-label>
      <ion-text>
        {{ coords.coords.latitude}}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Longitude</ion-label>
      <ion-text>
        {{ coords.coords.longitude}}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">horodate</ion-label>
      <ion-text>
        {{ getDateFromTimestamp(coords.timestamp) | date: 'dd/MM/yyyy hh:mm:ss' }}
      </ion-text>
    </ion-item>
  </ion-list>
  -->

</ion-content>