<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>star-wars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-loading message="chargement en cours" [isOpen]="isLoading" spinner="bubbles"></ion-loading>

  <ion-list>
    <ion-item *ngFor="let character of swService.characterList">
      <ion-label>
        {{ character.getName() }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="isLoading=true;swService.loadPrev()" *ngIf="swService.hasPrevious()">
            Précédent
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-text color="medium">
            <ion-label>
              Page {{ swService.currentPageNumber }}
              sur {{ swService.totalPagesCount }}
            </ion-label>
          </ion-text>
        </ion-col>

        <ion-col>
          <ion-button expand="block" (click)="isLoading=true;swService.loadNext()" *ngIf="swService.hasNext()">
            Suivant
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>