<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input [(ngModel)]="userInput.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="userInput.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Role</ion-label>
      <ion-input [(ngModel)]="userInput.role"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input [(ngModel)]="userInput.password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="register()">
    Valider
  </ion-button>

</ion-content>