<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  {{ 'ceciEstKapitalizé' | capitalize }}

  <p>
    {{ 50 | convertTemp:'c'}} celcius
  </p>
  <p>
    {{ 451 | convertTemp:'c'}} celcius
  </p>

  <p>
    {{ 50 | convertTemp:'f'}} farenheit
  </p>

  <app-hello name="titi" age="13"></app-hello>

  <app-hello name="toto" age="24"></app-hello>

  <hr>

  <app-hello *ngFor="let item of persons" [name]="item.name" [age]="item.age"
    (doClick)="getClickCount($event)"></app-hello>

</ion-content>