<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="takePicture()" expand="block">
    le petit oiseau va sortir
  </ion-button>

  <ion-button (click)="takePicture2()" expand="block">
    dites Cheeeeeese
  </ion-button>

  <ion-img *ngIf="imageData" src="data:image/jpeg;base64,{{imageData}}"></ion-img>

  <ion-img *ngIf="imageUrl" [src]="imageUrl"></ion-img>


</ion-content>